*.deb 
*.zip

// Linux

*.o
*.so
*.out
*.cmd

# build artifacts
*.o
*.ko
*.mod.*
*.symvers
*.order
*c.swp
# kernel build leftovers
.tmp_versions/

# binaries
blinker
blinker-*

# logs / outputs
*.out

# compressed
*.zip

# editor
.vscode/